	body {background-color: blue;}
	img {align-self: center; height: 300px; width: 500px; padding: 10px;}
	p {color: red; font-family:cursive,sans-serif;}
	a {color: yellow;}
	h1 {color: red;}
	table {border: 1; width: 40%; padding: 1px;}
	